<div class="expando-tab col-xs-12" {{bind-attr data-target="hiddenElementIdFmt"}} data-toggle="collapse">
  {{tabLabelLocalized}}
</div>
<div {{bind-attr id="hiddenElementId"}} class="collapse">
	<div class="expando-text">{{textContents}}</div>
</div>