<div class="row">
	<button class="btn btn-default" {{action "chooseGender" "female"}}><span class="fa fa-venus icon-gender"></span></button>
	<button class="btn btn-default" {{action "chooseGender" "male"}}><span class="fa fa-mars icon-gender"></span></button>
	<button class="btn btn-default" {{action "chooseGender" "other"}}><span class="fa fa-transgender-alt icon-gender"></span></button>
</div>