<div class="pull-left">
	<div class="option-text-large">{{title}}</div>
	<span class="icon">*</span><span class="option-text-small">{{selectionText}}</span>
</div>
<div class="pull-right edit-icon">*</div>
