<div class="pull-left">
	<div class="option-text-large">{{title}}</div>
	<span {{bind-attr class="iconClass :fa :icon-small"}}></span><span class="option-text-small">{{selectionText}}</span>
</div>
<div class="pull-right fa fa-pencil icon-small" style="margin-top:15px;"></div>
