<!-- <div class="fb-share-button" {{bind-attr data-href=facebookLink}} data-type="button"></div>
<a class="twitter-share-button" {{bind-attr data-size=twitterParams.dataSize href="https://twitter.com/share" data-text=twitterParams.dataText data-hashtags=twitterParams.dataHashtags data-via="twitterdev" data-count="none"}}></a>

<a {{bind-attr href=emailHref}} class="fa fa-envelope-o"></a>

<a href="sms:" class="visible-xs-block">Send Text Message</a> -->
