<div class="container-fluid">
	<div class="col-xs-12 align-objects">
		<h3 class="pull-left">{{t "cardTitle.resources"}}</h3>
	</div>

	<div class="card-body col-xs-12 align-objects">
		<a class="btn btn-link large" href="www.google.com" target="_blank">Link</a><br>
		<a class="btn btn-link large" href="www.google.com" target="_blank">Link</a><br>
		<a class="btn btn-link large" href="www.google.com" target="_blank">Link</a><br>
		<a class="btn btn-link large" href="www.google.com" target="_blank">Link</a><br>
	</div>
</div>